.form{
    text-align: center;
    background-color: #ddd;
    margin: 0 auto;
    border-radius: 10px;
    &__email{
        width: 40%;
        padding:6px 20px;
        border: none;
        border-radius: 6px;
        background-color: #fff !important;
        margin-bottom: 10px;
    }
    &__password{
        width: 40%;
        border: none;
        border-radius: 6px;
        padding:6px 20px;
        background-color: #fff !important;
        margin-bottom: 10px;
    }
}
.button{
    padding:0 20px;
    margin-bottom: 10px;
    border-radius: 6px;
    color: white;
    background-color: #271579;
}
