.item{
    background-color: #ddd;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 10px;
}
form button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    color: white;
    background-color: #4819d7;
}
h2{
    font-style: italic;
    font-weight: 600;
}